<div>
  <div class="hero is-primary is-flexible">
    <div class="hero-body">
      <div class="level">
        <div class="level-item"></div>
        <div class="level-item">
          <p class="control">
            <input placeholder="USD" class="input" type="text" name="from" id="from" 
            [(ngModel)]="from" (blur)="transformCurrency($event)" (focus)="removeCurrency($event)"
            >
          </p>
        </div>
        <div class="level-item">
          <p class="control">
            <input placeholder="EUR" class="input" type="text" name="from" id="to" 
            [(ngModel)]="to" readonly value="{{1 | currency:'EUR':'symbol':'1.2-4'}}">
          </p>
        </div>
        <div class="level-item"></div>
      </div>
      
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <button class="button">
            Calculate
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- Main container -->
  <div class="columns  is-multiline ">
      
      <div class="column is-one-third" *ngFor="let item of days">
        <div class="box">
          <article class="media">
            <div class="media-left">
              EUR
            </div>
            <div class="media-content">
              {{item}}th January
            </div>
          </article>
        </div>
      </div>
  </div>
</div>